extends ./_base/_layout
block vars
  - var path = '';
block title
  title= title
block append meta
block append link
  link(rel="stylesheet", href=`${path}/assets/css/style.css`)
block body
  #wrapper.wrapper
    header.header
      h1 Hello, World!
    main.main
      //- Vue Sample
      #app
        p {{ count }}
        button(@click="countUp") クリック
      //- scrollMagic Sample
      .scroll-magic-box
        #firstBox.box.box-first
        #secondBox.box.box-second
        #thirdBox.box.box-third
        .box.box-fourth
block append script
  script(src=`${path}/assets/js/app.bundle.js?v=${Date.now()}`)
