@charset "UTF-8";

//===================================
// color
//===================================
// テキスト
$textColor: #333;
$linkColor: #333;

//===================================
// font
//===================================
$fontFamilyJp: "YuGothic", "游ゴシック", "HiraKakuPro", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Roboto, Osaka, sans-serif;
$fontFamilyEn: "Avenir Next", Helvetica, Arial, sans-serif;

//===================================
// size
//===================================
$spDesignWidth: 750;

$spMaxWidth: 568px;
$tabMinWidth: $spMaxWidth + 1;
$tabMaxWidth: 960px;
