@charset "UTF-8";

// variables
@import './config/variables';
// animation
@import './util/animation/rotate';
// function
@import './util/functions/half';
@import './util/functions/rem';
@import './util/functions/vw';
// mixin
@import './util/mixins/clearfix';
@import './util/mixins/media-query';
// lib
@import './libs/reset';
@import './libs/normalize';
// base
@import './config/base';

h1 {
  font-size: rem(50);
  @include sp {
    color: #fff;
  }
}

// scrollMagic sample
.scroll-magic-box {
  .box {
    background: slateblue;
    height: 1000px;
    margin-top: 50px;
    width: 600px;

    &.box-third {
      opacity: 0;
      transition: 1s all;
      transform: translateX(-100%);

      &.js-active {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.sprite {
  background: url(../images/sprite.png) no-repeat 0 0;
  height: 64px;
  overflow: hidden;
  vertical-align: bottom;
  width: 64px;
}
